@model VmAbout
@{
    ViewData["Title"] = "Index";
}


<div class="main-wrapper">
    <partial name="_bannerpartial" model="Model.Banner" />
    <div class="content pt-0">
        <div class="about-wrapper">

            <div class="block-space bg-secondary">
                <div class="container">
                    <div class="row row-grid align-items-center">
                        <div class="col-md-6">
                            <div class="card bg-default shadow border-0">
                                <img src="~/Uploads/@Model.About.Image" class="card-img-top" alt="image">
                                <blockquote class="card-blockquote">
                                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                                        <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                                        <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                                    </svg>
                                    <h4 class="display-3 font-weight-bold text-white">@Model.About.Title</h4>
                                    <p class="lead text-italic text-white" style="color:white">
                                        @Html.Raw(Model.About.SubTitle)
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pl-md-5">
                                <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
                                    <i class="fa fa-info"></i>
                                </div>
                                <h3>About Us</h3>
                                <p class="lead"> 
                                    @Html.Raw(Model.Setting.About)
                                    </p>
                                <a href="#" class="font-weight-bold text-warning mt-5">Explore Your Places</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>