@model Feature
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form asp-area="Admin" asp-controller="Feature" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="@Model.Name">Name</label>
                    <input class="form-control" asp-for="@Model.Name">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                <button type="submit" class="btn btn-dark" asp-area="admin" asp-controller="Feature" asp-action="Index">Back to List</button>

            </form>
        </div>
    </div>
</div>